language: python
python:
  - 3.8

services:
  - docker

cache:
  pip: true
  directories:
    - $HOME/.cache/pre-commit

before_install:
  - nvm install
  - pip install pre-commit openapi-to-fastapi
  - docker build -t doc-build .

install: true

script:
  - pre-commit run --all-files || exit 1
  - openapi-validator --path draft -v IhanStandardsValidator
  - ./travis-validation.sh
  - ./docker-run.sh

# Deploy to GitHub pages
deploy:
  provider: pages
  skip-cleanup: true
  local-dir: artifacts
  github-token: $GITHUB_TOKEN
  target-branch: gh-pages
  repo: digitalliving/standards
  on:
    branch: master
